
.row {
  display: flex;
  align-items: center;
}

.col2 {
  flex-basis: 50%;
}

.col2 p:first-child {
  margin-top: 6rem;

}

.infoText {
  margin-bottom: 3rem;
  color: #455d58;
}

.hero {
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgb(69, 93, 88, 0.5)), url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 7.5rem);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 2.4rem;
  margin: 0 auto;
}

.heroTextBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.heroText {
  text-transform: uppercase;
  color: #fff;
  font-size: 5.4rem;
  letter-spacing: 0.2rem;
  line-height: 1.4;
  margin-bottom: 5rem;
}

.heroText span {
  display: block;
}

.textBox_rooms {
  margin-left: 2rem;
  text-align: justify;
}

.infoText, .textBox {
  margin-right: 2rem;
  text-align: justify;
}


.btn, .btn_dining, .btn_green {
  display: inline-block;
  background: transparent;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.btn_dining, .btn_green {
  margin-top: 2rem;
   cursor: pointer;
}

.btn:hover {
  background-color: #455d58;
}

.btn_dining {
  border: 0.2rem solid  rgb(69, 93, 88, 0.5);
}

.btn_dining:hover {
  background-color: #455d58;
}

.btn_green:hover {
  background-color: #fff;
} 

.imageGroup img {
  width: 18.75rem;
}

.imageGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}

.rooms {
  margin-top: 150px;
  background-color: #455d58;
} 